<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="text-center">
    <h1>Rubyクイズへようこそ!</h1>
    <p>
      この楽しくて挑戦的なクイズで、Rubyに関する知識をテストしてみましょう。
      質問にできるだけ正確に答えて、Rubyをどれだけ知っているか確認してみましょう!
      全部で5問あります! ※ブラウザバックはしないでください。
    </p>
    <h2>難易度を選んでください</h2>
    <%= link_to "初級編", questions_by_level_path(level: "beginner", reset: true), class: "btn btn-primary clickable-link" %>
    <%= link_to "中級編", questions_by_level_path(level: "intermediate", reset: true), class: "btn btn-primary clickable-link" %>
    <%= link_to "上級編", questions_by_level_path(level: "advanced", reset: true), class: "btn btn-primary clickable-link" %>    
  </div>
</div>
