/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 .background-class {
     background-image: asset-url('1.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }
 
 @media (max-width: 768px) {
     .background-class {
         background-position: top center;
         background-size: auto 100%;
     }
 }
 
 .clickable-link {
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
     background-image: linear-gradient(to bottom, #3339e5, #957cdf);
     border-radius: 10px;
     margin: 16px; 
 }
 
 .clickable-link:active {
     box-shadow: inset 0 0 20px #ddd;
 }
 
 p, .card-body {
     margin: 0 7%;
     text-align: justify;
     font-size: 15px;
     color: #73044a;
     line-height: 1.8;
     text-shadow: 1px 1px 1px rgba(12, 10, 10, 0.1);
 }
 
 p, a, h2, h1, button, .card-body {
     font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", sans-serif;
 }
 
 h1, h2, a {
     font-size: 25px;
 }