/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 .background-class {
    background-image: asset-url('3.png');
    background-size: cover; /* 画像を要素にフィットさせる */
    background-repeat: no-repeat; /* 画像の繰り返しを防ぐ */
    background-position: center; /* 画像を中央に配置 */
}
@media (max-width: 768px) {
    .background-class {
        background-position: top center; /* 画像を上部中央に配置 */
        background-size: auto 100%; /* 画像の高さを100%に設定し、幅は自動調整 */
    }
}


